.button {
  background: var(--brand-color);
  color: white;
  font: inherit;
  border: 0.15rem solid var(--brand-color);
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: var(--brand-color);
}

.button:focus {
  outline: none;
}
