.main-header {
  background-color: lightgreen;
  width: 100%;
  padding: 0.8rem 1.6rem;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-header__brand {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 2.2rem;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1.6rem;
}

.main-nav__item a {
  text-decoration: none;
  color: var(--brand-color);
}

.main-nav__item a:hover {
  color: white;
}

.main-nav__item a:active {
  color: white;
}
