:root {
  --brand-color: #0e4f1f;
  --red-color: #ff1b68;
  --light-red: #ffcede;
  --main-color: #2ddf5c;
  --light-green: #d5ffdc;
  --dark-green: #19b84c;
  --grey-color: #424242;
  --light-grey: #8d8c88;
  --shadow-recommended-color: rgba(0, 0, 0, 0.5);
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  margin: 0;
}
