main {
  padding-top: 3.2rem;
}

.background {
  background: url("../assets/backgrounds/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  margin: 1.6rem 0;
  border: var(--package-border);
  border-left: none;
  background: var(--light-green);
  position: relative;
  z-index: 1;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 3.2rem;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px var(--shadow-recommended-color);
  border-color: var(--red-color);
}

#premiun .package__title {
  color: white;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  font-size: 1.2rem;
  color: white;
  background: var(--red-color);
  padding: 0.8rem;
  z-index: 10;
}

.package__subtitle {
  color: var(--light-grey);
}

.package__info {
  padding: 1.6rem;
  background: white;
  font-size: 1.4rem;
  border: 0.1rem solid var(--brand-color);
}

.clearfix {
  clear: both;
}

#plus {
  background: var(--plus-green);
}

#free {
  background: var(--free-green);
  float: right;
  border-right: none;
  border-left: var(--package-border);
}

#free:hover,
#free:active {
  border-left-color: var(--red-color);
}

#premiun {
  background: var(--premiun-green);
}
