.section-title {
  color: var(--main-color);
  text-align: center;
}

.plan {
  background-color: var(--light-green);
  text-align: center;
  padding: 1.6rem;
  margin: 0.8rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background: var(--dark-green);
  color: white;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--shadow-recommended-color);
}

.plan__annotation {
}
