.section-title {
  color: var(--main-color);
  text-align: center;
}

.plan {
  background-color: var(--light-green);
  text-align: center;
  padding: 1.6rem;
  margin: 0.8rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background: var(--dark-green);
  color: white;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--shadow-recommended-color);
}

.plan__annotation {
  background: white;
  border-radius: 0.8rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--shadow-recommended-color);
  padding: 0.8rem;
  color: var(--dark-green);
}

.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan__features li {
  margin: 0.8rem 0;
}

.plan__title {
  color: var(--brand-color);
}
.plan__price {
  color: rgb(133, 133, 133);
}

.plan--highlighted .plan__price {
  color: var(--brand-color);
}
.plan--highlighted .plan__title {
  color: white;
}
